/* Main Menu Style */
.main-menu li a.active {
  color: var(--primary-color);
}
/* Header profile imahe start here */
.header-profile-image {
  border-radius: 50%;
}
/* Header profile imahe End here */
/* Categori toggle */
.category-items {
  display: block !important;
  transform: scaleY(0);
  transform-origin: top center;
  transition: var(--transition);
}
.category-items.active {
  transform: scaleY(1);
}
